@{
    ViewBag.Title = "Transcripts";
    Layout = null;
}
@model retry.Models.Student

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="form-group">
            <label>學號: </label>
            <label>@Model.id</label>
        </div>
        <div class="form-group">
            <label>姓名: </label>
            <label>@Model.name</label>
        </div>
        <div class="form-group">
            <label>分數: </label>
            <label>@Model.score</label>
        </div>
    </div>
</body>
</html>
