@model MVC.ViewModels.forum
@{
    ViewBag.Title = "Search";
}
<style>
    body {
        margin-bottom: 120px;
    }

    textarea {
        width: 500px;
        height: 100px;
        resize: none;
        margin: 5px;
    }
</style>
<h2>Forum</h2>
@using (Html.BeginForm("Search", "Forum", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.Search)
                @Html.ValidationMessageFor(model => model.Search, "", new { })
                <input type="submit" value="搜尋" class="btn btn-success btn-sm">
                if(a)
                <button type="button" class="btn btn-link">
                    @Html.ActionLink("SoftwareEnginering", "SoftwareEnginering", "Forum")
                </button>
                <button type="button" class="btn btn-link">
                    @Html.ActionLink("OperatingSystem", "OperatingSystem", "Forum")
                </button>
            </td>
        </tr>
    </table>
}
<div class="container">
    <h1></h1>
    <div class="row">
        <div class="col-lg-8">

                 <h5> item.forum_name </h5>

        </div>
        <div class="col-lg-4">
            <div class="ad1">
                <img class="img-thumbnail" src="~/Pic/test1.jpg">
            </div>
            <div class="ad2">
                <img class="img-thumbnail" src="~/Pic/test2.jpg">
            </div>
        </div>
    </div>
</div>

<div class="comment">
    @using (Html.BeginForm("Post", "Forum", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td>
                    @Html.TextAreaFor(model => model.Post, new { @class = "form -control" })
                    @Html.ValidationMessageFor(model => model.Post, "", new { })
                    <input type="submit" value="留言" class="btn btn-success btn-sm">
                </td>
            </tr>
        </table>
    }
</div>
