@model MVC.ViewModels.MyView
@{
    ViewBag.Title = "UserPage";
}

<h2>UserPage</h2>
@using (Html.BeginForm("UserPage", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.User.Search)
                @Html.ValidationMessageFor(model => model.User.Search, "", new { })
                <input type="submit" value="搜尋" class="btn btn-success btn-sm">
            </td>
        </tr>
    </table>
}
<style>
    .container {
        position: relative;
        overflow: auto;
    }

    textarea {
        width: 270px;
        height: 250px;
        resize: none;
        margin: 5px;
    }

    .title {
        float: left;
        height: 70px;
    }

    .content {
        position: absolute;
        left: 10px;
        top: 90px;
        width: 280px;
    }

    .post {
        position: relative;
        width: 300px;
        height: 400px;
        margin: 20px;
        padding: 10px;
        border: solid blue 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .service {
        left: 0px;
        width: 300px;
    }

    .section {
        width: 300px;
    }

    .section_author {
        margin-left: 50px;
        width: 200px;
        height: 120px;
    }

    .section_title {
        margin-top:10px;
        margin-left: 180px;
        height: 22px;
        width: 200px;
        overflow:hidden;
    }

    .advertise {
        position:absolute;
        right:0px;
        top: 50px;
    }

    .manage {
        width: 300px;
        margin: 20px;
        padding: 10px;
        border: solid blue 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .friend {
        width: 300px;
        max-height: 500px;
        margin: 20px;
        border: solid blue 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        -moz-column-count: 2;
        -moz-column-gap: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 1em;
        column-count: 2;
        column-gap: 1em;
    }

    .user {
        height: 100px;
        width: 100px;
    }

    .add_friend{

    }
</style>
<div class="container">
    <h1></h1>
    <div class="row">
        <div class="col-lg-4 service">

            <div class="post">
                <h4>Post</h4>

                @using (Html.BeginForm("UserPage", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td class="title">
                            Title
                            @Html.TextBoxFor(model => model.Post.Title, new { @class = "form -control" })
                            @Html.ValidationMessageFor(model => model.Post.Title, "", new { })
                        </td>
                        <td class="content">
                            @Html.TextAreaFor(model => model.Post.Content, new { @class = "form -control" })
                            @Html.ValidationMessageFor(model => model.Post.Content, "", new { })
                            <input type="submit" value="發文" class="btn btn-success btn-sm">
                        </td>
                    </tr>
                </table>
                    }
            </div>

            @*<div class="manage">
                <h4>Manage</h4>
                <button type="button" class="btn btn-link">
                    @Html.ActionLink("SoftwareEnginering", "SoftwareEnginering", "Forum")
                </button>
            </div>*@

            <div class="friend pre-scrollable" style="overflow-x:hidden;overflow-y:auto" id="friend">
                <h4>Friend</h4>
                
                <div class="user3 user">
                    <img class="align-self-start mr-3" src="~/Pic/user3.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">Tom</h5>
                    </div>
                </div>
                <div class="user1 user">
                    <img class="align-self-start mr-3" src="~/Pic/user1.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">Tim</h5>
                    </div>
                </div>
                <div class="user8 user">
                    <img class="align-self-start mr-3" src="~/Pic/user8.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">Belinda</h5>
                    </div>
                </div>
                <div class="user9 user">
                    <img class="align-self-start mr-3" src="~/Pic/user9.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">Jimmy</h5>
                    </div>
                </div>
                <div class="user4 user">
                    <img class="align-self-start mr-3" src="~/Pic/user4.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">David</h5>
                    </div>
                </div>
                <div class="user5 user">
                    <img class="align-self-start mr-3" src="~/Pic/user5.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">Cammy</h5>
                    </div>
                </div>
                <div class="user2 user">
                    <img class="align-self-start mr-3" src="~/Pic/user2.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">Amy</h5>
                    </div>
                </div>
                <div class="user7 user">
                    <img class="align-self-start mr-3" src="~/Pic/user7.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 text-success">Henry</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="user6 section">
                <div class="media-body section_author">
                    <div class="add_friend">
                        <p>
                            @Html.ActionLink("Add friend", "UserPage_1", "User")
                        </p>
                    </div>
                    <img class="align-self-start mr-3" src="~/Pic/user6.jpg" alt="Generic placeholder image">
                    <h5 class="mt-0 text-success">Mandy</h5>
                </div>
                <div class="section_title">
                    @Html.ActionLink("今天好熱喔軟工怎麼辦", "SoftwareEnginering", "Forum")
                </div>
            </div>
            <div class="user9 section">
                <div class="media-body section_author">
                    <img class="align-self-start mr-3" src="~/Pic/user9.jpg" alt="Generic placeholder image">
                    <h5 class="mt-0 text-success">Jimmy</h5>
                </div>
                <p class="section_title">@Html.ActionLink("有誰會寫xv6的可以教一下ㄇ", "OperatingSystem", "Forum")</p>
            </div>
            <div class="user8 section">
                <div class="media-body section_author">
                    <img class="align-self-start mr-3" src="~/Pic/user8.jpg" alt="Generic placeholder image">
                    <h5 class="mt-0 text-success">Belinda</h5>
                </div>
                <p class="section_title">@Html.ActionLink("有誰會寫xv6的可以教一下ㄇ", "OperatingSystem", "Forum")</p>
            </div>
            <div class="user2 section">
                <div class="media-body section_author">
                    <img class="align-self-start mr-3" src="~/Pic/user2.jpg" alt="Generic placeholder image">
                    <h5 class="mt-0 text-success">Amy</h5>
                </div>
                <p class="section_title">@Html.ActionLink("今天好熱喔軟工怎麼辦", "SoftwareEnginering", "Forum")</p>
                <div class="user4 section">
                    <div class="media-body section_author">
                        <img class="align-self-start mr-3" src="~/Pic/user4.jpg" alt="Generic placeholder image">
                        <h5 class="mt-0 text-success">David</h5>
                    </div>
                    <p class="section_title">@Html.ActionLink("今天好熱喔軟工怎麼辦", "SoftwareEnginering", "Forum")</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 advertise">
            <div class="ad1">
                <img class="img-thumbnail" src="~/Pic/test1.jpg">
            </div>
            <div class="ad2">
                <img class="img-thumbnail" src="~/Pic/test2.jpg">
            </div>
        </div>
    </div>
</div>
